%h1
  %a{href: "https://www.cert.fi/en/reports/statistics/opendata.html"} Visualizer for cert open data

.row.well
  .col-xs-6.well
    = @first_format.gsub("\n", "<br>")
  .col-xs-6.well
    = @second_format.gsub("\n", "<br>")

